body {
    background-color: orange;
    margin: 10em;
}
#survey-form{
    display: flex;
    flex-direction: column;
}
#title{
    text-align: center;
}
#description{
    text-align: center;
}
button{
    
    margin-top: 16px;
    background-color: royalblue;
    border-radius: 10px;
    width: 600px;
    height: 100px;
}
#comment-section{
    height: 400px;
}